.button {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  font-family: inherit;
  background-color: #023e8a;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
